.result {
  font-family: "Dosis", sans-serif;
  width: 40vh;
  left: 40vh;
  color: white;
  padding: 10px;
  border-radius: 25px;
  background-color: #7E9FCB;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  .result-heading {
    display: flex;
    margin: 20px 0;
    .result-text {
      font-size: 25px;
      margin: auto;
      margin-bottom: 10px;
      line-height: 20px;
      text-align: center;
      .important{
        border-bottom: 1px solid white;
      }
    }
  }
  .separator {
    width: 100%;
    border: 1px solid white;
  }
  .result-info {
    position: absolute;
    bottom: 5px;
    margin: 0;
    color: white;
    font-size: 12px;
  }

  .survey {
    text-align: center;
    width: 100%;
    

    h2 {
      margin: 10px 0 15px 0;
      font-size: 22px;
    }
    .buttons {
      display: flex;
      flex-direction: row;
      font-size: 16px;
      button {
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        appearance: none;
        border: none;
        width: 100%;
        height: 50px;
        margin: 5px;
        margin-bottom: 15px;
        background-color: white;
        font-family: "Dosis", sans-serif;
        border-radius: 2px;
      }
      .left {
        border-bottom-left-radius: 15px;
      }
      .right {
        border-bottom-right-radius: 15px;
      }
    }
  }
}

.twitter {
  line-height: 45px;
  text-align: center;
  height: 45px;
  border-radius: 15px;
  background-color: #1DA1F2;
  color: white;
  font-weight: 400;
  cursor: pointer;
  width: inherit;
  transition: .2s;
  &:hover {
    background-color: #1A91DA;
  }
}

@media only screen and (max-width: 815px) and (max-width: 1366px) {
  .result {
    top: 20vh;
  }
}

@media screen and (max-width: 815px) {
  .result {
    top: 12vh;
    width: 40vh;
    left: unset;
    .result-heading {
      margin: 10px 0;
      .result-text {
        font-size: 22px;
      }
    }
    .result-info {
      font-size: 11px;
    }
  }
}