.questions {
  position: absolute;
  width: 50vh;
  left: 30vh;
  .first-line {
    display: flex;
    justify-content: space-between;
  }
  .second-line {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    img {
      width: 35px;
      margin: 5px;
    }
    p {
      user-select: none;
    }
  }
}

@media only screen and (max-width: 1366px) {
  .questions {
    top: 20vh;
  }
}

@media screen and (max-width: 815px) {
  .questions {
    top: 12vh;
    width: 40vh;
    left: unset;
    .first-line {
      flex-direction: column;
      .select-wrapper:first-child {
        margin-bottom: 20px;
      }
    }
  }
}



.cta {
  position: absolute;
  right: 0;
  font-family: "Dosis", sans-serif;
  font-weight: 600;
  font-size: 20px;
  height: 45px;
  width: 120px;
  user-select: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background-color: #00b8c0;
  border: none;
  border-radius: 12.5px;
  color: #1b3c68;
  margin-top: 10px;

  &:focus {
    outline: none;
  }
}
