@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap");
.App {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Dosis", sans-serif;
  letter-spacing: 1px;
  font-weight: 200;
  user-select: none;
}
