@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap");
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-family: "Dosis", sans-serif;
  letter-spacing: 1px;
  font-weight: 300;
  user-select: none;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  .homepage-icon {
    width: 350px;
    display: flex;
    align-items: flex-end;
    height: inherit;
    align-content: flex-end;
    margin-top: 40px;
  }
  .heading {
    font-size: 34px;
    color: #7e9fcb;
    display: flex;
    align-items: center;
    height: 80px;
  }
  .main {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .footer {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }
  @media screen and (max-width: 1024px) {
    .main{
      flex-direction: column;
    }
  }
  @media screen and (max-width: 768px) {
    .heading{
      font-size: 25px;
    }
    .main {
      align-items: center;
    }
    .homepage-photo {
      display: flex;
      height: auto;
      align-items: flex-end;
    }
  }
  .twitter-icon {
    width: 25px;
    bottom: 15px;
    right: 15px;
    margin-right: 10px;
  }
  .info {
    bottom: 0;
    left: 15px;
    color: #7E9FCB;
    font-size: 15px;
    margin-left: 10px;
  }
}
