.not-found-page {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	.not-found-status {
		font-size: 200px;
		margin: 0px;
	}

	.description {
		margin: 0px;
		font-size: 20px;
		text-decoration: none;
	}
}


